export(
   "markdownExtensions",
   "markdownHTMLOptions",
   "markdownToHTML",
   "Md2HTMLPage",
   "Md2HTMLFrag",
   "rendererExists",
   "registeredRenderers",
   "rendererOutputType",
   "renderMarkdown",
   "smartypants",
   "rpubsUpload"
)
useDynLib(markdown,.registration=TRUE)
